<div class="toolbar toolbar-bottom tabbar bottom-nav-bar" hide-tabbar-on-scroll>

    <div class="toolbar-inner">
        <a href="#main" class="tab-link active" data-tab="#main" @click="setStateAction('main')">
            <!-- <f7-icon if-ios="f7:home" if-material="material:home_fill"></f7-icon> -->
            <i class="f7-icons">home</i>
        </a>
        <a href="#albums" class="tab-link" data-tab="#albums" @click="setStateAction('albums')">
            <!-- <f7-icon if-material="material:images_fill"></f7-icon> -->
            <i class="f7-icons">photos</i>
        </a>
        <a href="#" class="tab-link" disabled=true>
            <!-- <f7-icon if-material="material:images_fill"></f7-icon> -->
        </a>
        <a href="#gallery" class="tab-link" data-tab="#gallery" @click="setStateAction('gallery')">
            <!-- <f7-icon if-material="material:images_fill"></f7-icon> -->
            <i class="f7-icons">images</i>
        </a>
        <a href="#user" class="tab-link" data-tab="#user" open-login-screen="#login-screen" @click="setStateAction('user')">
            <!-- <f7-icon if-material="material:add_round_fill"></f7-icon> -->
            <i class="f7-icons">gear</i>
        </a>
    </div>
</div>