.pmenu {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #cce1ea;
    opacity: .7;
    z-index: 11002;
    .content-block.main {
        top: 15%;
        width: 100%;
        position: absolute;
        .list-block.main {
            ul:before {
                content: "Sdfsdf";
                display: none;
            }
            font-size: xx-large;
        }
        .content-block-inner:before {
            display: none;
        }
        .content-block-inner:after {
            display: none;
        }
    }
    .content-block.cancel {
        bottom: 5%;
        position: absolute;
        width: 100%;
        .list-block.cancel {
            font-size: large;
        }
        .content-block-inner {
            ul:after:before {
                display: none;
            }
        }
        .content-block-inner:before {
            display: none;
        }
        .content-block-inner:after {
            display: none;
        }
    }
}